{% extends 'base-template.jinja' %}
{% block content %}
    <div class="container">
    <h3 align="center">Invoice Summary</h3>
        <div style="height: 50%;width: 100%; float: left">
        {% if not invoices %}
        <div style="float: left;width:50%;">
            <h3 align="center" class="font-weight-light">No Invoice Data Available Yet</h3>
        </div>
        {% else %}
        <div style="float:left;width:50%">
            <table class="table">
                <thead><tr><th scope="col">Customer Name</th><th scope="col">Amount</th></tr></thead>
                <tbody>
                    {% for invoice in invoices %}
                    <tr><td>{{ invoice[1] }}</td><td>{{ invoice[2] }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        </div>
    </div>

    <div class="container" style="float: contour;" align="center">
    <h3 align="center">Product Summary</h3>
        <div class="form-horizontal" title="Summary">
        {% if not summary %}
        <h3 align="center" class="font-weight-light">Summary not available yet</h3>
        {% else %}
        <div>
            <table class="table">
                <thead>
                    <tr><th scope="col">Product</th><th scope="col">Total Count</th></tr>
                </thead>
                <thead>
                    {% for data in summary %}
                    <tr><td>{{ data[0] }}</td><td>{{ data[1] }}</td><td>{{ data[2] }}</td></tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
        {% endif %}
        </div>
    </div>
{% endblock %}