{% extends 'base-template.jinja' %}
{% block content %}
    <div class="container">
    <h3 align="center">Invoice Summary</h3>
        <div style="height: 50%;width: 100%; float: left">
        <form id="searchForm" action="{{ url_for('invoice_history') }}" method="POST">
                <label for="date"><b>Date:</b> </label>
                <input type="date" name="date">
                <label for="customer"><b>Customer Details:</b></label>
                <input name="customer">
                <label for="agent"><b>Agent Name:</b></label>
                <input name="agent">
                <input type="submit" class="btn btn-info btn-group-toggle" value="Submit">
        </form>

        {% if not invoices %}
        <div style="float: left;width:50%;">
            <h3 align="center" class="font-weight-light">No Invoice Data Available</h3>
        </div>
        {% else %}
        <div style="float:left;width:50%">
            <table class="table">
                <thead><tr>
                <th scope="col">Invoice Number</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Agent Name</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                </tr></thead>
                <tbody>
                    {% for invoice in invoices %}
                    <tr><td>{{ invoice[0] }}</td><td>{{ invoice[1] }}</td><td>{{ invoice[2] }}</td><td>{{ invoice[3] }}</td> <td>{{ invoice[4] }}</td>
                            </form> 
                            </div>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
